* {
  transition: all 0.5s ease-in-out, height 0.5s ease-in-out; /* Animates width and height changes over 0.5 seconds with ease-in-out easing */
}

.price-body {
  background-color: #050505;

  padding: 100px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  div {
    min-width: 350px;
  }
  li {
    padding-left: 20px;
  }
}

@media (max-width: 1200px) {
  .price-body {
    div {
      min-width: 320px;
    }
  }
}
@media (max-width: 1080px) {
  .price-body {
    div {
      min-width: 280px;
    }
  }
}
@media (max-width: 960px) {
  .price-body {
    div {
      min-width: 250px;
      .feature-list {
        padding: 0px;
      }
    }
  }
}
@media (max-width: 900px) {
  .price-body {
    flex-direction: column;
    div {
      .feature-list {
        padding-left: 40px;
      }
    }
  }
}

.bronze-pricing {
  background-color: #0f0f0fd3;
  border: 1px solid #563b1a;
  width: 350px;
  min-height: 650px;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .head {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-weight: 300;
      font-size: 14px;
      //   text-align: center;
      color: #c1c1c1;
      padding-left: 40px;
      padding-right: 40px;
    }
    h1 {
      font-weight: lighter;
    }
  }
  .pricing {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    display: flex;
    justify-content: center;
  }
  .feature-list {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: start;
    gap: 15px;
    div {
      display: flex;
    }
  }
}

.silver-pricing {
  border: 1px solid #575757;
  background-color: #0f0f0fd3;
  width: 350px;
  height: 650px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .head {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-weight: 300;
      font-size: 14px;
      //   text-align: center;
      color: #c1c1c1;
      padding-left: 40px;
      padding-right: 40px;
    }
    h1 {
      font-weight: lighter;
    }
  }
  .pricing {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    display: flex;
    justify-content: center;
  }
  .feature-list {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: start;
    gap: 15px;
    div {
      display: flex;
    }
  }
}

.gold-pricing {
  border: 0.5px solid gold;
  background-color: #0f0f0fd3;
  width: 350px;
  height: 650px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .head {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-weight: 300;
      font-size: 14px;
      //   text-align: center;
      color: #c1c1c1;
      padding-left: 40px;
      padding-right: 40px;
    }
    h1 {
      font-weight: lighter;
    }
  }
  .pricing {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    display: flex;
    justify-content: center;
  }
  .feature-list {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: start;
    gap: 15px;
    div {
      display: flex;
    }
  }
}
