nav {
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;

  .background-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #050505c3;
    backdrop-filter: blur(10px);
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .logo {
    color: white;
    text-decoration: none;
    z-index: 1;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 22px;
  }

  .disappear {
    opacity: 0;
  }

  .brand {
    display: flex;
    align-items: center;
    z-index: 1;

    .background-gradient {
      width: 100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(
        180deg,
        rgb(0, 0, 0) -30%,
        rgba(255, 0, 0, 0) 175%
      );
      backdrop-filter: blur(10px);
      mask: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0), transparent);
      transition: 0.3s;
    }

    .left {
      background: linear-gradient(
        to left,
        rgb(0, 0, 0) 0%,
        rgba(255, 0, 0, 0) 70%
      );
      // mask: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0), transparent);
      backdrop-filter: blur(0px);
      transition: 0.3s;
    }

    .titleAnim {
      position: absolute;
      z-index: 9999;
      // font-size: 160px;
      // text-shadow: -5px 10px 10px rgba(0, 0, 0, 1);
    }

    img {
      width: 30px;
      height: 30px;
    }

    .logoAnim {
      position: absolute;
      right: 0;
    }
  }

  .links {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
      text-decoration: none;
      font-weight: 300;
      text-shadow: 0px 0px 5px black;
      color: white;
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 850px) {
  nav {
    .links {
      left: 10%;
    }

    .brand {
      .titleAnim {
        color: red;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  nav .links {
    justify-content: end;
    display: none;
    // padding-right: 10px;
  }
  button {
    display: block;
  }
}

button {
  background-color: transparent;
  border: none;
  // display: none;
}
.menu-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.side-nav {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: rgb(23, 23, 23);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 10px 0px 0px 10px;
  z-index: 100;

  .links {
    color: white;
    z-index: 1000;
    text-decoration: none;
    a {
      text-decoration: none;
    }
  }
}

.side-nav.open {
  right: 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}
